# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\nodejs_projects\attedance_websocket\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
